# Ignore
*.jar
*.fsh
*.vsh
*.glsl
*.lang
*.abc
*.local
*.vsh
*.fsh
*.mcmeta
*.disabled
overlay.png
cucumber.png
worldedit_wand.png
servers.dat
/mods/clef
/saves/
/logs/
ComplementaryShaders_v4.1_dev4.zip
usernamecache.json
usercache.json
*.dat_old
realms_persistence.json
# Allow
